@charset "utf-8";
/* CSS Document */

/* ************************************************************************************************************************

WordPress Theme

File:			app.scss
Author:			Amapolazul
Homepage:		www.amapolazul.com
Copyright:		2018

************************************************************************************************************************ */

/* ---------- Variables ---------- */

$primary_color: #5d5d5d;
$secondary_color: #077aac;
$tertiary_color: #6b488b;
$fourth_color: #07d3ac;

/* ---------- General ---------- */

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@font-face {
	font-family: 'Lucida Sans';
	src: url(fonts/LSANSI.TTF);
}

* {
	margin: 0;
	padding: 0;
}

body {
	font: {
		family: 'Open Sans', sans-serif;
		size: 14px;
	}
	color: $primary_color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Open Sans', sans-serif;
}

a {
	color: $secondary_color;
	&:hover {
		color: $secondary_color;
	}
}

/* ---------- Template ---------- */

/* Top */

.top_1 {
	padding: 10px 0;
	background-color: $fourth_color;
	.moduletable_to11 {
		#a {
			color: #fff;
		}
		#b {
			a {
				margin: 0 5px;
				display: inline-block;
			}
		}
	}
}

.top {
	background: {
		image: url(menu_main_bg.png);
		position: center;
		repeat: no-repeat;
		size: cover;
	}
	position: relative;
	z-index: 3;
	.moduletable_to2 {
		.top-bar {
			padding: 0;
			background-color: transparent;
			.top-bar-title {
				margin: 0;
			}
			#responsive-menu {
				width: 100%;
				ul.menu {
					background-color: transparent;
					li {
						height: 40px;
						padding: 0 10px;
						background: {
							image: url(moduletable_to2_li_bg.png);
							position: right;
							repeat: no-repeat;
						}
						&:last-child {
							background: none;
						}
						&#menu-item-10 {
							background: none;
						}
						&#menu-item-11 {
							width: 330px;
							padding: 0;
							background: none;
							&.current-menu-item {
								a {
									border-bottom: none;
								}
							}
							a {
								width: 330px;
								height: 80px;
								padding: 0;
								background: {
									color: #fff;
									image: url(logo.svg);
									position: center;
									repeat: no-repeat;
								}
								-webkit-border-bottom-right-radius: 10px;
								-webkit-border-bottom-left-radius: 10px;
								-moz-border-radius-bottomright: 10px;
								-moz-border-radius-bottomleft: 10px;
								border-bottom-right-radius: 10px;
								border-bottom-left-radius: 10px;
								color: transparent;
							}
						}
						&.current-menu-item {
							a {
								background-color: $tertiary_color;
							}
						}
						a {
							padding: 15px;
							color: #fff;
							text-transform: uppercase;
							&:hover {
								background-color: $tertiary_color;
							}
							&:after {
								border: {
									top-width: 4px;
									left-width: 4px;
									right-width: 4px;
									top-color: $tertiary_color;
								}
							}
						}
						ul.sub-menu {
							padding: 10px;
							background-color: #fff;
							border: 0;
							z-index: 100;
							li {
								height: inherit;
								padding: 0;
								background-image: none;
								z-index: 100;
								a {
									width: 100%;
									border: none;
									border-bottom: 1px solid $secondary_color;
									font: {
										size: 12px;
										weight: normal;
									}
									color: $secondary_color;
									text-align: center;
									z-index: 100;
									&:hover {
										background: {
											image: url(moduletable_to2_a_bg.png);
											position: center;
											repeat: no-repeat;
											size: cover;
										}
										color: #fff;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

/* Banner */

.banner {
	.moduletable_ba1 {}
}

/* Content */

.content {
	padding: 40px 0;
	h1,
	h3 {
		font: {
			family: 'Lucida Sans';
			size: 30px;
			style: italic;
		}
		color: $secondary_color;
	}
	.asterisk {
		color: red;
	}
	input {
		&.button {
			background-color: $secondary_color;
			border-radius: 0;
		}
	}
	img {
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-transition: 0.3s ease-in-out;
		transition: 0.3s ease-in-out;
		&:hover {
			-webkit-transform: scale(1.2);
			transform: scale(1.2);
		}
	}
	a {
		&.button {
			padding: 8px 15px;
			background-color: $fourth_color;
			-webkit-border-radius: 10px;
			-moz-border-radius: 10px;
			border-radius: 10px;
			transition: all 0.3s ease;
			&:hover {
				-webkit-transform: scale(1.2);
				-ms-transform: scale(1.2);
				transform: scale(1.2);
			}
		}
	}
	#main_menu {
		margin-top: 30px;
		ul {
			li {
				margin-bottom: 10px;
				padding: 0 10px;
				border-right: 1px solid $tertiary_color !important;
				&:last-child {
					border: 0 !important;
				}
				a {
					padding: 5px 10px;
					border: 1px solid $tertiary_color;
					color: $tertiary_color;
					&:hover {
						background-color: $tertiary_color;
						color: #fff;
					}
				}
			}
		}
	}
	.blue_box {
		max-width: 180px;
		margin: auto;
		padding: 20px;
		background-color: $secondary_color;
		color: #fff;
		text-align: center;
	}
	.purple_box {
		max-width: 180px;
		margin: auto;
		padding: 20px;
		border: 1px solid $tertiary_color;
		text-align: center;
		a {
			color: $tertiary_color;
		}
	}
	&.full-width {
		.max {
			max-width: 1000px;
			margin: auto;
		}
	}
}

/* Block 1 */

.block_1 {
	padding-bottom: 60px;
	.moduletable_b11 {
		h3 {
			margin: 0;
			font: {
				family: 'Lucida Sans';
				size: 30px;
				style: italic;
			}
			color: $secondary_color;
		}
		h4 {
			padding: {
				top: 80px;
				bottom: 10px;
			}
			background: {
				image: url(block_1_h4_bg.png);
				position: bottom;
				repeat: no-repeat;
			}
			font: {
				family: 'Lucida Sans';
				size: 20px;
				style: italic;
			}
			color: #fff;
		}
		p {
			margin: 0;
		}
		a {
			&.button {
				margin: 0;
				padding: 8px 15px;
				background-color: $fourth_color;
				-webkit-border-radius: 10px;
				-moz-border-radius: 10px;
				border-radius: 10px;
			}
		}
		#a,
		#b,
		#c,
		#d,
		#e {
			padding: 15px;
			transition: all 0.3s ease;
			&:hover {
				-webkit-transform: scale(1.2);
				-ms-transform: scale(1.2);
				transform: scale(1.2);
			}
		}
		#a,
		#b {
			h4 {
				background-position: right bottom;
			}
		}
	}
}

/* Block 2 */

.block_2 {
	padding-bottom: 60px;
	.moduletable_b21 {
		#a {}
		#b {
			padding: 94px 20px;
			background-color: $fourth_color;
			font: {
				family: 'Lucida Sans';
				size: 20px;
				style: italic;
			}
			color: #fff;
			a {
				margin: 0 20px;
				display: inline-block;
				transition: all 0.3s ease;
				&:hover {
					-webkit-transform: scale(1.2);
					-ms-transform: scale(1.2);
					transform: scale(1.2);
				}
			}
		}
	}
}

/* Block 3 */

.block_3 {
	padding-bottom: 60px;
	.moduletable_b31 {
		h3 {
			margin: 0;
			font: {
				family: 'Lucida Sans';
				size: 30px;
				style: italic;
			}
			color: $secondary_color;
		}
		#b {
			.owl-item {
				a {
					border: 1px solid $secondary_color;
					display: block;
				}
				h3 {
					min-height: 50px;
					padding: 5px;
					background-color: $secondary_color;
					font: {
						family: 'Open Sans', sans-serif;
						size: 14px;
						style: inherit;
					}
					text-align: center;
					a {
						color: #fff;
					}
				}
			}
		}
	}
}

/* Block 4 */

.block_4 {
	padding: 40px 0;
	background: {
		image: url(block_3_bg.png);
		position: center;
		repeat: no-repeat;
		size: cover;
	}
	.moduletable_b41 {
		#a {
			padding-right: 30px;
			border-right: 2px solid #fff;
			h4 {
				&.title_1 {
					color: $tertiary_color;
					.line_1 {
						font: {
							family: 'Lucida Sans';
							size: 30px;
							style: italic;
						}
					}
					.line_2 {
						font-size: 30px;
					}
				}
				&.title_2 {
					font-size: 30px;
					color: #444;
				}
			}
		}
		#b {
			input {
				margin: 0;
				&.button {
					margin: 0;
					padding: 8px 15px;
					background-color: $tertiary_color;
					-webkit-border-radius: 10px;
					-moz-border-radius: 10px;
					border-radius: 10px;
					transition: all 0.3s ease;
					&:hover {
						-webkit-transform: scale(1.2);
						-ms-transform: scale(1.2);
						transform: scale(1.2);
					}
				}
			}
		}
	}
}

/* Bottom */

.bottom {
	padding: 30px 0;
	.moduletable_bo1 {
		h3 {
			margin: 0;
			font: {
				family: 'Lucida Sans';
				size: 30px;
				style: italic;
			}
			color: $secondary_color;
		}
		#a {
			iframe {
				border: 0;
			}
		}
		#b {
			figure {
				background-color: $fourth_color;
				img {
					width: 100%;
					opacity: 1;
					transition: all 0.3s ease;
					&:hover {
						opacity: 0.5;
					}
				}
			}
			a {
				color: $primary_color;
			}
		}
	}
}

/* Copyright */

.copyright {
	padding: 10px 0;
	background-color: $secondary_color;
	color: #fff;
	a {
		color: #fff;
	}
}

/* ---------- Media Queries ---------- */

/* Small only (639px) */

@media screen and (max-width: 39.9375em) {

	/* Top */

	.top_1 {
		.moduletable_to11 {
			#a {
				font-size: 12px;
			}
		}
	}

	.top {
		background: {
			repeat: repeat-y;
			size: 100%;
		}
		.moduletable_to2 {
			margin: 10px 0;
			.top-bar {
				.top-bar-title {
					width: 100%;
					margin: 0;
					color: #fff;
					text-align: center;
					button {
						&.menu-icon.dark {
							&:after {
								background: #fff;
								box-shadow: 0 7px 0 #fff, 0 14px 0 #fff;
							}
						}
					}
				}
				#responsive-menu {
					width: 100%;
					ul.menu {
						li {
							width: 100%;
							background: none;
							&#menu-item-11 {
								display: none;
							}
							a {
								padding-top: 15px;
								text-align: center;
								display: block;
							}
						}
					}
				}
			}
		}
	}

}

/* Medium and up (640px) */

@media screen and (min-width: 40em) {}

/* Medium only (640px and 1023px) */

@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up (1024px) */

@media screen and (min-width: 64em) {}

/* Large only (1024px and 1199px) */

@media screen and (min-width: 64em) and (max-width: 74.9375em) {}

/* ---------- Others ---------- */

.clear {
	clear: both;
}